:root {

    --bg-color: #FBB03B;
    --text-color: #000000;
    --link-color: #1565C0;
    --accent-color: #E7E7E7;
    --primary-color: #FBB03B;
    --secondary-color: #F7C843;
    --cta-color: #FFFFFF;


    --tertiary-color: #ffba00;
    --bs-accordion-btn-focus-border-color : #d35555 !important;
}
.white-bg{
    background-color: #fff !important;
}
.primary-bg{
    background-color: var(--primary-color)!important;
}
.secondary-bg{
    background-color: var(--secondary-color)!important;
}
.cta-bg{
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}
.cta-color{
    color: var(--cta-color) !important;
}
.accent-bg{
    background-color: rgb(148 163 184) !important;

}
.icon {
    background-color: transparent;
    color: #790000;
    fill: #790000;
    width: 20px;
    margin: 0 auto;
    margin-left: 10px;
}
.icon:hover {
   opacity: .8;
   cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.list-style-decimal{
    list-style: decimal;
}
